<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (prods.length > 0) { %>
    <div class="grid">
        <% for(let product of prods) { %>
        <article class="card product-item">
            <header>
                <h1>
                    <%= product.title %>
                </h1>
            </header>
            <div class="card_image">
                <img
                        src="https://media.istockphoto.com/id/1957612313/photo/teenage-girl-sitting-on-windowsill-and-reading-a-book.jpg?s=1024x1024&w=is&k=20&c=lb8vi0vbK2-XIvTbafFj_RHyn4Z2WoUp87i_sIBaTro="
                        alt=""
                        width="250px"
                />
            </div>
            <div class="card_content">
                <h2 class="product_price">
                    <%= product.price %>
                </h2>
                <p class="product_description">
                    <%= product.description %>
                </p>
            </div>
            <div class="card_actions">
                <button type="button">Add to cart!</button>
            </div>
        </article>
        <% } %>
    </div>
    <% } else { %>
        <h1>No products Found!</h1>
    <% } %>
</main>
</body>
<%- include('../includes/end.ejs') %>